@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2',
    sans-serif;
}

body {
  color: #666;
}

.contenedor {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1 0 200px;
}

header .logo img {
  margin: 10px;
  width: 50px;
}

header .logo h1 {
  font-size: 20px;
}

header .formulario {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex: 1 0 200px;
}

header .formulario input {
  font-size: 14px;
  outline: none;
  border: 0;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px 0 0 8px;
  width: 100%;
  flex: 1;
}

header .formulario button {
  font-size: 14px;
  padding: 15px;
  outline: none;
  border: 1px solid #aaa;
  color: #666;
  margin-left: -1px;
  border-radius: 0 8px 8px 0;
}

header ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  flex: 1 0 200px;
  margin-right: 10px;
}

header ul li {
  padding: 10px;
  cursor: pointer;
}

header ul li:hover {
  color: black;
  transition: 0.4s all;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  /* align-content: flex-start; */
}

nav {
  background-color: rgba(0, 0, 0, 0.1);
  flex: 1 0 200px;
}

nav ul li {
  text-align: center;
  padding: 15px;
  display: flex;
  cursor: pointer;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main {
  flex: 100 0 375px;
}

main .profile {
  height: 200px;
  background-image: url("./img/bg_profile.jpg");
  background-size: cover;

}

main .bg_color {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 193, 36, 0.8);
}

main .bg_color h2 {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 30px;
}

main ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

main ul li {
  flex: 1;
  cursor: pointer;
  padding: 10px;
  /* margin: 0 5px; */
  border-bottom: 2px solid transparent;
}

main ul li:nth-child(3n) {
  flex: 2;
}

main ul li:hover {
  border-bottom: 2px solid #666;
  transition: 0.3s all;
  background-color: rgba(0, 0, 0, 0.2);
}

.active {
  border-bottom: 2px solid #666;
}

.videos {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  flex: 0 0 250px;
  margin: 10px;
  max-width: 400px;
}

.item img {
  width: 100%;
}